* {
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
cursor: default;
}

.logo{
float: center;
background-color: #D9ead3;
padding: 10px;
overflow: hidden;
}
.logo a:hover {
  cursor: default;
}

/*Navigation styling*/
.topnav {
position: sticky;
z-index: 2000;
overflow: hidden;
background-color: #e69138;
border-top: 5px solid #94c47c;
}
.topnav a {
float: right;
display: block;
color: #b45f06;
text-align: center;
padding: 14px;
text-decoration: none;
font-size: 22px;
}
.highlight a {
background-color: #94c47c;
color: #D9ead3;
}
.topnav a:hover {
background-color: #94c47c;
color: #FFFFFF;
transition: 0.2s;
}

/*Content formatting*/
.content {
background-color: #FFFFFF;
padding: 0px;
}
.maincontent{
width: 1500px;
margin-right: auto;
margin-left: auto;
margin-top: 2px;
color: #000000;
padding: 50px;
font-size: 19px;
}

/*Background objects styling*/
.whitebox{
background-color: #FFFFFF;
padding: 35;
color: #000000;
}
.orangborder{
border-bottom: 2.25px solid #e69138;
padding: 80px;
}
.noborder{
padding: 80px;
}
.applybox{
background-color:#D9ead3;
border: 3px solid #e69138;
padding: 10px;
}
.applyboxinner{
background-color: #D9ead3;
padding: 25px;
}

.round img:hover{
border-radius: 25%;
transition: 0.3s;
}

/*Link styling*/
.fstyle1{
color: #e69138;
}
.fstyle1 a {
  display: block;
  text-decoration: none;
  color: #e69138;
}
.fstyle1 a:hover {
  color: #94c47c;
  font-size: 28px;
}
.fstyle2{
color: #CD781F;
}
.fstyle2 a {
  display: block;
  text-decoration: none;
  color: #CD781F;
}
.fstyle2 a:hover {
  color: #94c47c;
  font-size: 28px;
}
.fstyle3{
color: #b45f06;
}
.fstyle3 a {
  display: block;
  text-decoration: none;
  color: #b45f06;
}
.fstyle3 a:hover {
  color: #94c47c;
  font-size: 28px;
}


/*Content style formatting*/
.fstyle4{
color: #b45f06;
font-size: 22px;
}
.pstyle1{
font-size: 26px;
padding: 5px;
text-align: left;
width: 250px;
}
.pstyle2{
padding: 5px;
text-align: left;
width: 660px;
font-size: px;
}
h3{
color: #94c47c;
font-size: 40px;
}
h5{
color: #94c47c;
font-size: 22	px;
}
.alignright {
align: right;
text-align: right;
}
.alignleft {
align: left;
text-align: left;
}

/*Footer*/
.footer {
font-size: 17px;
background-color: #b45f06;
padding: 2px;
color: #e69138;
}


/*Welcome script formatting*/
.welcome{
font-size: 50px;
width: 1000px;
margin-right: auto;
margin-left: auto;
padding: 10px;
color: #94c47c;
font-size:30;
}


/*Table Formatting*/
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.column1 {
  float: left;
  width: 50%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
* {
  box-sizing: border-box;
}
@media (max-width: 1000px) {
  .column {
    width: 100%;
  }
}


/*Dropdown Box Formatting*/
.dropdown {
float: right;
display: inline-block;
}
.dropdown-content {
line-height: 1.25;
position: absolute;
width: 120%;
left: -20%;
transform-origin:0 0;
transform: scaleY(0);
transition:0.3s;
margin-top:55px;
padding-right: 400px;
}
.dropdown-content a {
float: right;
display: block;
color: #b45f06;
text-align: center;
text-decoration: none;
background-color: #e69138;
z-index: 101110;
}
.dropdown:hover .dropdown-content {  transform: scaleY(1);
z-index: 1000;
}

/*Image to text opacity styling*/
.container {
position: relative;
width: 100%;
}

.image {
display: block;
width: 100%;
height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.container:hover .overlay {
  opacity: 0.3;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/*Application formatting*/
input[type=text] {
width: 70%;
padding: 14px 12px;
margin: 8px 0;
box-sizing: border-box;
border: none;
border-bottom: 2px solid #e69138;
color: grey;
}
input[type=text]:focus {
background-color: #FFB565;
color: #000000;
}
.formlabels {
box-sizing: border-box;
line-height: 3.9;
padding-left: 200px;
font-size: 19px;
  }
input[type=button], input[type=submit], input[type=reset] {
background-color: #b45f06;
border: none;
color: white;
padding: 16px 32px;
text-decoration: none;
margin: 4px 2px;
cursor: pointer;
border: 2px;
border-bottom: 2px solid #e69138;
}
#inputboxid {
height: 60px;
width: 530px;
font-size: 18px;
}
#multiboxid {
height: 20px;
width: 20px;
font-size: 14px;
cursor: pointer;
}
#inputboxidlrg {
height: 100px;
width: 530px;
font-size: 18px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background colour with semi transparency */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation for images */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}